<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <router-outlet></router-outlet> -->
<div class="container">
    <div class="col-12" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container-fluid">
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive="active">Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive="active">Items</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive="active">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      

</div>



<router-outlet>
  
   
</router-outlet>

<!-- <app-model-test></app-model-test> -->
<!-- <app-login></app-login>  ask teacher-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


