
<div class="container">
    <div class="row row-cols-2">
      <!-- <div class="col-1"></div> -->
      <div class="col-12">
            <ag-grid-angular 
                style="width: 1202px; height: 500px;" 
                class="ag-theme-balham"
                [rowData]="rowData" 
                [columnDefs]="columnDefs"
                [pagination] ="true" >
                
            </ag-grid-angular>
        </div>
      <!-- <div class="col-1"> </div>-->
          
    
    </div>
  </div>